# SQLITE3

In [1]:
import sqlite3 #CASE INSENSITIVE

In [2]:
conn= sqlite3.connect("example.db")
c= conn.cursor()

In [5]:
#CREATING TABLE
c.execute('''CREATE TABLE IF NOT EXISTS EMP(ID INT PRIMARY KEY, NAME TEXT, SALARY REAL) ''')

In [6]:
#INSERTING VALUES
c.execute("INSERT INTO EMP(ID,NAME,SALARY) VALUES(101,'ABC',80000)")
c.execute("INSERT INTO EMP(ID,NAME,SALARY) VALUES(102,'PQR',70000)")
c.execute("INSERT INTO EMP(ID,NAME,SALARY) VALUES(103,'XYZ',45000)")
c.execute("INSERT INTO EMP(ID,NAME,SALARY) VALUES(104,'RST',30000)")

In [7]:
conn.execute("COMMIT")

In [10]:
c.execute("""SELECT * FROM EMP""")
# print(next(c))

In [11]:
for row in c:
    print(row)

(101, 'ABC', 80000.0)
(102, 'PQR', 70000.0)
(103, 'XYZ', 45000.0)
(104, 'RST', 30000.0)

In [13]:
# UPDATING TABLE
c.execute(""" UPDATE  EMP SET SALARY=65000 WHERE ID=102""")
conn.execute("COMMIT")

In [14]:
c.execute("""SELECT * FROM EMP WHERE ID=102""")
print(next(c))

(102, 'PQR', 65000.0)

In [15]:
c.execute("""DELETE FROM EMP WHERE ID=102""")
conn.execute("COMMIT")
c.execute("""SELECT * FROM EMP""")
for row in c:
    print(row)

(101, 'ABC', 80000.0)
(103, 'XYZ', 45000.0)
(104, 'RST', 30000.0)